<!--  Jeffrey's code 
error.html file: error web page
Verion 1.0
Create Date: 07/21/2021 - Created the file 
-->

<!DOCTYPE html>
<html>
<!-- html head -->
<head>
  <title>E2E POC</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Import bootstrap lib for formating the html page -->
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <script src="/static/javascripts/bootstrap.min.js"></script>
</head>

<!-- html body -->
<body>
    <div class="container-fluid" style="margin-top: 1em;">
      <div class="row">
        <div class="col-md-2">
          <!-- Display att logo -->
          <img src="/static/images/AT&T_logo.png" style="max-width: 140px;margin-top: 0.8em;margin-left: 0.9em;">
        </div>
        <br>
        <br><br>
        <br>
      </div>
      <!-- Display the error msg-->
      <h3 style="margin-top: 0.2em;color:red"> Enn, can not reach the page!
      </h3>
      <h3 style="margin-top: 0.2em;"> Please access the main page through the link: <br>    
        <div style="text-indent: 50px;">
          http://erum-jump.it.att.com:8082 on Azure
        </div>
        or <br>  
        <div style="text-indent: 50px;">
          http://localhost:8082 on local server.
        </div>  
      </h3>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <!-- Placeholder for processed UML sequence chart -->
      <div class="row">
        <div class="mx-auto center-block">
          <img  id='imgUMLSquenceChart' src="/static/images/404.png" style="max-width: 300px"> </img>
        <div>
      </div>
    <br>
      
    </div>
    
    </body>
    </html>